<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatibale" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.8">
        <link rel="stylesheet" href="/css/AdminHome.css">
        <title>Admin Home</title>
    </head>
<body>
    <div class="head"> <img src="/image/HospitalLogo.png" alt="logo.jpg" height="75px" width="75px">
        <h2>VSP Hospital</h2>   
      </div>
      
    <div class="menu-bar">
        <ul>
            <li><a th:href="@{/adminhome}">Admin Home</a>	
            <li><a href="#">Doctor</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a th:href="@{/viewdoctor}">View Doctor</a></li>
                        <li><a th:href="@{/adddoctor}">Add Doctor</a></li>	
                    </ul>
                </div>
            </li>
            <li><a href="#">Pathology</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a th:href="@{/viewpathology}">View Pathology</a></li>
                        <li><a th:href="@{/addpathology}">Add Pathology</a></li>	
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <footer>
      <p>&copy; Copyright</p>
    </footer>
</body>
</html>