<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatibale" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.8">
        <link rel="stylesheet" href="/css/pathologyhome.css">
        <title>Pathology Home</title>
    </head>
<body>
    <div class="head">
        <img src="/image/HospitalLogo.png" alt="logo.jpg" height="75px" width="75px">
        <h2>VSP Hospital</h2>
     </div>
    <div class="menu-bar">
        <ul>
            <li class="active"><a th:href="@{/pathologyhome}">Pathogy Home</a></li>	
            <li><a href="/html/PathologyProfile.html">Pathogy Profile</a></li>
            <li><a th:href="@{/testList}">View Test</a></li>
        </ul>
    </div>
     <footer>
      <p>&copy; Copyright</p>
    </footer>
</body>
</html>